* {
     margin: 1px;
}
 html {
     background: #FFF;
     font-size: 1.5em;
     font-family: Arial, Helvetica, sans-serif;
}
 h1 {
     font-size: 2.5em;
     color: #0040ff;
}
 h2 {
     font-size: 1.8em;
     color: #3360ff;
}
 h3 {
     font-size: 1.3em;
}
 p {
     text-align: center;
     padding-right: 20px;
     padding-left: 20px;
}
 body {
     height: 100%;
     width: 70%;
     margin: 0 auto;
     border: 1px solid;
     background: rgba(179, 220, 237, 1);
}
 header {
     background-image: url("vaterpolo-klub-beograd.jpg");
     background-size: cover;
}
 footer {
     background-color: gray;
     height: 100px;
}
 nav {
     width: 550px;
     margin: 0 auto;
     color: #FFF;
}
 nav a {
     float: left;
     font-size: 24px;
     margin-right: 20px;
     color: white;
     text-decoration: none;
}
 nav a:hover {
     border-bottom: 2px solid #FFF;
}
 .pamtise ul li {
     list-style-type: square;
}
 .clanarina ol li ul li {
     list-style-type: square;
}
 #naslov {
     text-align: center;
}
 #header {
     height: 130px;
}
 #footer ul {
     text-align: center;
     padding-top: 10px;
     list-style-type: none;
}
 #footer ul li {
     margin-bottom: 4px;
}
 #slika:hover {
     opacity: 0.5;
}
